body {
    background-color: #f3f4f5;
    color: #133778;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f3f4f5;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

fields {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 16px;
}

.btn-default {
    background-color: #133778;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}