{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{%block head%}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select.css')}}">

{% endblock %}

{%block body%}
    {%block navbar%}
        {%include 'navbar.html'%}
    {%endblock%}
    {% block content %}
    
    <div class="container">   
        <div class="header">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
            </div>
        </div>  
        
        {{ wtf.quick_form(option_file) }}

    </div>
    
{% endblock %}



{%endblock%}
